.footer {
    background-color: #1a1d24;
    padding: 20px;
    text-align: center;
    z-index: 2;
    color: #f6fcfa;
    position: relative;
  }
  
  .footer-title {
    font-size: 15px;
    margin-bottom: 10px;
  }
  P {
    font-size: 10px;
  }
  
  .social-links a {
    color: #ab7c0f;
    text-decoration: none;
    margin-right: 10px;
    font-size: 10px;
  }
  
  .social-links a:hover {
    color: #6c4f0a;
  }
  
  @media (max-width: 900px) {
    .footer-content {
      max-width: 90%;
      margin: auto;
    }
  }