.card {
    background-color: #303741;
    color: #f6fcfa;
    border-radius: 4px;
    width: 200px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    z-index: 2;
    
  }
  
  .card-image {
    width: 10%;
    height: auto;
    object-fit: cover;
  }
  
  .card-content {
    margin-top: 10px;
  }
  
  .card-title {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .card-description {
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .card-info {
    font-size: 12px;
    
  }
  .card-link{
    color: #ab7c0f;;
    font-size: x-small;
  }