.about-me-container {
    text-align: center;
    padding: 150px;

    color: #f6fcfa;
    padding-left: 15%;
    padding-right: 15%;

}

.title {
    color: #c76305;
    font-weight: bold;
    margin-bottom: 10px;
    z-index: 2;
}

.text {
    font-size: 18px;
    line-height: 1.5;
    z-index: 2;
}

@media (max-width: 600px) {
    .title {
        font-size: 20px;
    }

    .text {
        font-size: 16px;
    }

    .about-me-container {
        padding-top: 35%;
        padding-left: 2%;
        padding-right: 2%;

    }
}