.home {
    background-size: 200% 200%;
    animation: animated-background 10s ease infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 200px 50px;
    padding-bottom: 115px;
    color: #f6fcfa;


}


.home-left {
    text-align: right;
    flex: 1;
    padding-right: 2%;
    z-index: 2;
}

.home-left h1 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
}

.home-left .home-welcome {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #c76305;
}

.home-left p {
    font-size: 18px;
    margin-bottom: 20px;
}

.home-right {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    padding-left: 2%;
    z-index: 2;
}

.home-right img {
    max-width: 50%;
    max-height: 50%;
    z-index: 2;
    border-radius: 50%;
    border-color: #c76305;
    border-style: double;
}

.my-button {
    background-color: #c76305;
    color: #f6fcfa;
    border-radius: 10px;
    border-style: hidden;

    transition: background-color 0.3s ease;
    font-family: 'Titillium Web', sans-serif;
    padding: 10px;
    font-size: 1em;
}

.my-button:hover {
    background-color: #c76305;
}

@media (max-width: 900px) {
    .home {
        flex-direction: column;
        align-items: center;
        padding-top: 35%;
    }

    .home-left {
        padding: px;
        margin-bottom: 10px;
        text-align: center;
        order: 2;
    }

    .home-right {
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        order: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.home-left h2 {
    animation: fade-in 1s ease-in;
}