body {
    background: #22252c; /* Puedes cambiar esto a tu color o imagen deseada */
    margin: 0; /* Para eliminar el margen predeterminado del body */
    padding: 0; /* Para eliminar el relleno predeterminado del body */
  }
