.projects {
    background-color: #22252c;

    padding-top: 100px;
    padding-bottom: 50px;
    color: #f6fcfa;
    text-align: center;
}

.projects-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


@media (max-width: 768px) {
    .card {
        flex-basis: 100%;
    }

    .projects {
        padding-top: 35%;
    }
}