.navbar-container {
    display: flex;
    justify-content: center;
}

.navbar {
    background-color: #1a1d24c5;
    color: #F6FCFA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    width: 100%;

    box-sizing: border-box;
    position: fixed;
    z-index: 4;
}

.navbar-left {
    font-weight: bold;
    font-size: 2em;
    color: #F6FCFA;
    text-decoration: none;
}

.navbar-left:hover {
    color: #05c7ad;
    font-weight: bolder;
}

.navbar-right a {
    margin-left: 10px;
    color: #F6FCFA;
    text-decoration: none;
}

.navbar-right a:hover {
    color: #05c7ad;
    font-weight: bolder;
    font-size: large;
}

/* Media queries para el diseño responsive */

/* Pantallas menores a 900px */
@media (max-width: 900px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .navbar-left {
        margin-bottom: 10px;
    }

    .navbar-right {
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .navbar-right a {
        margin: 5px;
        font-size: small;

    }
}